.tab-content {
	padding-top: 20px;
}

.row {
	margin-top: 30px;
}

.btn-container button {
	margin-left: 5px;
}

.form-control {
	margin-bottom: 10px;
}

.description-field {
	margin-top: 10px;
	resize: none;
}

dl {
	margin-bottom: 0px;
}